* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body {
   background-color: #c6c2c2;
   max-width: 1600px;
}

/*TOP LOGO AND NAVIGATION HEADER*/

header {
  display: flex;
  justify-content: space-between;
  background-color: #363029;
  color: #bdbd93;
  max-width: 100%;
}

.li-container {
  display: flex;
  justify-content: space-between;
  margin: 7.5rem 1rem 2rem 1.25rem;
}

.shares {
  display: inline-block;
}

.win-icon:hover,.fa:hover,.fas:hover,.shares:hover {
  color: #ac774a;
  cursor: pointer;
}

.navigation {
  font-size: 1.15em;
  margin-left: 6rem;
  list-style-type: none;
}

.left-navigation {
  font-size: 1.15em;
  list-style-type: none;
}

.fas {
  margin-right: .5rem;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: bottom;
}

i.person-head {
  font-size: 1.5em;
  margin: 1rem 1rem 0 3rem;
}

.admin {
  font-size: 1rem;
  margin-right: 1em;
}

.win-icon {
  color: #ac774a;
  font-size: 3em;
  font-family: 'Oleo Script', cursive;;
  font-weight: 700;
  margin: 3rem 1.5rem 1.5rem 0rem;
}

i.far {
  font-size: 1em;
}

main {
  margin-bottom: 5rem;
}

/*SHARES BANNER*/

h1 {
  margin: 2.5rem 0 2.5rem 1rem;
  font-size: 2.75em;
  font-style: italic;
}

/*CARD CONTAINER*/

.grid-container {
 margin: 0 2.5rem 0 1rem;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 grid-gap: 15px;
}

.box {
  box-shadow: 3px 3px #7c7979;
  background-color: #363029; 
  color: #bdbd93;
  height: 480px;
}

/*CARD PHOTO SECTION*/

.photo-section {
  display: flex;
  justify-content: space-between;
  height: 10em;
  color: #ac774a;
}

.far {
  font-size: 2em;
  margin: .15em 0 0 .15em;
}

.far:hover {
  color: #ac774a;
  cursor: pointer;
}

.fa-user-circle {
  font-size: 1em;
}

.fa-arrow-alt-circle-left {
  font-size: 3em;
  margin: .15em 0 0 .15em;
}

.fa-arrow-alt-circle-left:hover {
  color: #bdbd93;
  cursor: pointer;
}

ul {
  text-align: center;
  margin: .5em 1em 0 0;
  list-style-type: none
}

.views {
  font-size: .75em;
}

.card-nmbr {
  margin-top: .2em;
  font-size: 2em;
}

/*CARD INFORMATION SECTION*/

.card-info-section {
  margin-left: 1em;
}

.card-line1-2 {
  margin-top: 1rem;
  font-size: 1.25em;
  line-height: 1.25em;
  font-family: 'Lato', sans-serif;
}

.text-type2 {
  font-size: .95em;
  color: #918f8e;
}

.card-line-link {
  margin-top: 1rem;
  overflow-wrap: break-word;
  font-size: .85em; 
  margin-right: 1rem;
  background-color: #efefefef;
  color: #ac774a;
  padding: 1em 1em 1em 1em;
}

.card-line4-5 {
  margin-top: 1.5rem;
}

.playlist-name {
  font-size: 1.5em;
}

.card-line6-7 {
  margin-top: 2.5rem;
}

.attachments {
  font-size: .85em;
}

.card-nmbr-color {
  color: #ac774a;
}

.box1-photo {
  background: url(images/mrozzie.jpg);
  background-size: cover;
  background-position: cover;
  background-position: center;
}

.box2-photo {
  background: url(images/guitar.jpg);
  background-size: cover;
}

.box3-photo {
  background: url(images/surf.jpg);
  background-size: cover;
  background-position: center;
}

.box4-photo {
  background: url(images/rooney.jpg);
  background-size: cover;
  background-position: center;
}

.box5-photo {
  background: url(images/dogman.jpg);
  background-size: cover;
  background-position: bottom;
}
 
.box6-photo {
  background: url(images/fisheye.jpg);
  background-size: cover;
  background-position: center;
}

.box7-photo {
  background: url(images/bana.jpg);
  background-size: cover;
}

.box8-photo {
  background: url(images/chevy.jpg);
  background-position: center;
  background-size: cover;
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    grid-gap: 15px;
  }
}

@media (max-width: 931px) {
  .li-container {
    display: flex;
    justify-content: space-around;
  }

  .navigation {
  font-size: 1.25em;
  margin-left: 3rem;
  list-style-type: none;
  }
}

@media (max-width: 760px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .li-container {
    display: flex;
    justify-content: space-around;
    margin: 3rem 1rem 3rem 1rem;
  }

  .win-icon {
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin: 2.5rem;
  }

  .admin {
    display: flex;
    justify-content: center;
    font-size: .85em;
    margin:0 0 0 .5em;
  }

  i.person-head {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin: auto;
  }

  h1 {
    margin-left: 1.25rem;
  }

  .grid-container {
    margin: 0 1.25rem 0 1.25rem;
  }
}

@media (max-width: 724px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
  }
}

@media (max-width: 586px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 15px;
  }

@media (max-width: 468px) {
  .shares {
    display: none;
  }

  .fas {
    font-size: 2em;
  }

  i.person-head {
    font-size: 3em;
  }
}









   

